---
import ServiceItem from './ServiceItem.astro'
---

<section class='pt-[4rem] pb-[2.5rem]'>
  <div class='mx-6'>
    <div class='grid gap-y-20'>
      <ServiceItem
        serviceTitle='Access your files, anywhere'
        serviceImg='/images/icon-access-anywhere.svg'
      >
        <p>
          The ability to use a smartphone, tablet, or computer to access your
          account means your files follow you everywhere.
        </p>
      </ServiceItem>
      <ServiceItem
        serviceTitle='Security you can trust'
        serviceImg='/images/icon-security.svg'
      >
        <p>
          2-factor authentication and user-controlled encryption are just a
          couple of the security features we allow to help secure your files.
        </p>
      </ServiceItem>
      <ServiceItem
        serviceTitle='Real-time collaboration'
        serviceImg='/images/icon-collaboration.svg'
      >
        <p>
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required.
        </p>
      </ServiceItem>
      <ServiceItem
        serviceTitle='Store any type of file'
        serviceImg='/images/icon-any-file.svg'
      >
        <p>
          Whether you're sharing holidays photos or work documents, Fylo has you
          covered allowing for all file types to be securely stored and shared.
        </p>
      </ServiceItem>
    </div>
  </div>
</section>
