---

---

<section
  class='bg-dark-blue-d pt-[4rem] pb-[2.5rem] bg-[url("/images/bg-curvy-mobile.svg")] bg-no-repeat bg-bottom bg-contain lg:bg-[url("/images/bg-curvy-desktop.svg")] lg:pt-[6rem] lg:pb-[4.5rem]'
>
  <div class='mx-6 xl:mx-auto xl:max-w-[1200px]'>
    <div class='flex items-center flex-col'>
      <img
        class='mb-12'
        src='/images/illustration-intro.png'
        alt='Illustration intro'
      />
      <div>
        <h1
          class='font-raleway text-center font-bold text-3xl mb-6 lg:text-5xl lg:w-[868px] lg:mx-auto lg:mb-8'
        >
          All your files in one secure location, accessible anywhere.
        </h1>
        <p class='text-center mb-8 lg:text-lg lg:w-[568px] lg:mx-auto'>
          Fylo stores all your most important files in one secure location.
          Access them wherever you need, share and collaborate with friends
          family, and co-workers.
        </p>
        <div class='flex justify-center w-full'>
          <a
            href='#'
            class='bg-gradient-to-r from-cyan-g to-blue-g rounded-full font-bold font-raleway py-3 text-center w-[14rem]'
          >
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
