---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
  title='Frontend Mentor | Fylo landing page with dark theme and features grid'
>
  <section
    class='bg-dark-blue-d pt-[4rem] pb-[2.5rem] bg-[url("/images/bg-curvy-mobile.svg")] bg-no-repeat bg-bottom bg-contain'
  >
    <div class='mx-6'>
      <div>
        <img src='/images/illustration-intro.png' alt='Illustration intro' />
      </div>
      <div>
        <h1 class='font-raleway text-center font-bold text-3xl mb-6'>
          All your files in one secure location, accessible anywhere.
        </h1>
        <p class='text-center mb-8'>
          Fylo stores all your most important files in one secure location.
          Access them wherever you need, share and collaborate with friends
          family, and co-workers.
        </p>
        <div class='flex justify-center w-full'>
          <a
            href='#'
            class='bg-gradient-to-r from-cyan-g to-blue-g rounded-full font-bold font-raleway py-3 text-center w-[14rem]'
          >
            Get Started</a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
